:root{
    --primary-bg: #502d84;
    --secondary-bg: #ffffff;
    --third-bg: #ffffff;
    --font-pm: #929292;
    --font-title: #666666;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    background: #bdbdbd;
}

/* scroll bar */
body::-webkit-scrollbar {
    width: 0.25rem;
  }
  
  body::-webkit-scrollbar-track {
    background: #ffffff;
  }
  
  body::-webkit-scrollbar-thumb {
    background: var(--primary-bg);
  }

.box-grey{
    width: 100%;
    height: 10px;
    background: #f5f5f5;
}
.box-grey-large{
    width: 100%;
    height: 350px;
    background: #f5f5f5;
}

/* layout */
.container{
    width: 360px;
    margin: 0 auto;
}


/* header */
header{
    width: 100%;
    height: 40px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    z-index: 5;
}
/* header nav{
    width: 90%;
    margin: 0 auto;
} */
header nav ul{
    display: flex;
    background: var(--primary-bg);
    width: 100%;
    height: 62px;
    list-style: none;
    justify-content: space-between;
    align-items: center;
}
header nav ul li a{
    color: #e9e9e9;
    text-decoration: none;
    padding: 0 20px;
    font-size: 14px;
}

/* logo */
.logo{
    font-weight: 600;
    font-size: 18px;
}

/* body layout */
.box{
    display: flex;
    background: #f5f5f5;
    width: 100%;
    height: 1250px;
    flex-direction: column;
}


/* main page */
.boxes{
    background: var(--primary-bg);
    height: 150px;
    width: 100%;
}

.backdrop{
    width: 100%;
    height: 230px;
    background: black;
    position: absolute;
    opacity: 0.3;
}

/* swiper js */
.carousel{
    margin: 70px 0 0;
}
.swiper-container {
    width: 90%;
    height: 150px;
    border-radius: 8px;
    box-shadow: 0px 4px 24px rgba(47, 42, 80, 0.08);
  }

.swiper-slide {
    text-align: center;
    font-size: 16px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.search input{
    display: block;
    margin: 20px auto;
    width: 90%;
    height: 48px;
    border: none;
    background: #ffffff;
    border-radius: 8px;
    padding: 0 20px;
    border: 1px solid #E9E9E9;
    z-index: 3;
}
.search input::placeholder{
    color: #bdbdbd;
}

.kategoridua{
    width: 90%;
    margin: 20px auto 0;
    color: #666666;
    font-size: 18px;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.kategori{
    width: 90%;
    margin: 180px auto 0;
    color: #666666;
    font-size: 18px;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.linksemua{
    color: #929299;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
}

/* card section */
.container-card{
    width: 90%;
    margin: 20px auto;
    display: flex;
    overflow: scroll;
}
.card{
    width: 300px;
    height: 295px;
    display: flex;
    flex-direction: row;
    background: #ffffff;
    border-radius: 8px;
    margin-right: 10px;
}
.card img{
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.card-content{
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
}
.container-card .card-title{
    color: #666666;
}
.container-card .card-tgl{
    color: #929292;
}
.container-card .card-penyanyi{
    color: #929292;
}
.card-harga{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card-harga{
    margin: 10px 0 0;
}
.card-harga .kiri .kiris{
    color: #bdbdbd;
    font-size: 12px;
    font-weight: 400;
}
.card-harga .kiri .dua{
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #666666;
}
.card-harga .kanan a{
    color: #fff;
    background: var(--primary-bg);
    border-radius: 100px;
    padding: 5px 20px;
    display: inline-block;
    text-decoration: none;
}









/* footer */
footer{
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
}

footer nav ul{
    display: flex;
    background: #ffffff;
    width: 100%;
    height: 62px;
    justify-content: space-around;
    list-style: none;
    align-items: center;
}

footer nav ul li a{
    color: #929292;
    font-size: 12px;
    text-decoration: none;
    margin: 10px 0 0;
}

footer nav ul li a.active{
    color: var(--primary-bg);
}

footer nav ul li a{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
footer nav ul li a img{
    margin-bottom: 10px;
}


.timers{
    text-decoration: none;
}

/* login page */
.box-login{
    display: flex;
    background: var(--third-bg);
    width: 100%;
    height: 750px;
    flex-direction: column;
}
.box-home-login{
    display: flex;
    background: #f5f5f5;
    width: 100%;
    height: 1750px;
    flex-direction: column;
}
.box-home-login-polos{
    display: flex;
    background: #f5f5f5;
    width: 100%;
    height: 1350px;
    flex-direction: column;
}
.main-login{
    width: 90%;
    margin: 80px auto;
}
.main-login-content .title{
    color: #666666;
    font-size: 18px;
    font-weight: 500;
}
.main-login-content .belompunya{
    color: #929292;
    font-size: 14px;
    font-weight: 400;
    margin-top: 10px;
}
.main-login-content .belompunya a{
    color: #502d84;
    text-decoration: none;
}
.login input{
    width: 320px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #E9E9E9;
    box-sizing: border-box;
    border-radius: 8px;
    display: block;
    margin: 0 auto;
    padding: 20px;
}
.login input::placeholder{
    color: #bdbdbd;
    font-size: 14px;
    font-weight: 400;
}
.login{
    margin-top: 20px;
    height: 110px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.lupa p{
    color: #929292;
    font-size: 14px;
    font-weight: 400;
    margin-top: 30px;
    text-align: center;
    margin-bottom: 20px;
}

.btn-login{
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    width: 100%;
    background: #D2C2EA;
    border-radius: 8px;
    padding: 15px ;
}
.btn-login a{
    text-decoration: none;
    color: #fff;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    width: 100%;
    background: #D2C2EA;
    border-radius: 8px;
    padding: 15px ;
}
.opsi-lain{
    color: #929292;
    font-size: 14px;
    font-weight: 400;
    margin-top: 30px;
    text-align: center;
    margin-bottom: 20px;
}

.button-selection{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.google-btn{
    text-decoration: none;
    color: #fff;
    background: #D54C3D;
    padding: 15px 55px;
    border-radius: 8px;
    font-size: 14px;
}
.facebook-btn{
    text-decoration: none;
    color: #fff;
    background: #4867AA;
    padding: 15px 45px;
    border-radius: 8px;
    font-size: 14px;
}

/* detail concert */
.hero{
    position: relative;
}
.back-btn{
    font-size: 27px;
    color: #bdbdbd;
    background: #fff;
    padding: 5px 10px;
    border-radius: 100px;
    position: absolute;
    top: 15px;
    left: 15px;
}
.setting-btn{
    font-size: 20px;
    color: #fff;
    padding: 5px 10px;
    border-radius: 100px;
    position: absolute;
    top: 19px;
    left: 318px;
    cursor: pointer;
}
.frame{
    font-size: 20px;
    color: #fff;
    padding: 5px 10px;
    border-radius: 100px;
    position: absolute;
    top: 192px;
    left: 318px;
}
.main-detail{
    width: 90%;
    margin: 0 auto;
}
.main-detail .title{
    font-family: Inter;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 22px;
/* identical to box height */
margin-top: 10px;
color: #666666;
}
.main-detail .deskripsi{
    margin: 8px 0 13px;
    font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 150%;
/* or 21px */


color: #929292;
}
hr{
    opacity: 0.3;
}
.detail-tanggal img{
    margin-right: 20px;
}
.detail-tanggal{
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.detail-tanggal .tanggal-detail{
    display: flex;
    align-items: flex-start;
}
.detail-tanggal .waktu-detail{
    display: flex;
    align-items: flex-start;
}
.detail-tanggal .pedangdut-detail{
    display: flex;
    align-items: flex-start;
}
.detail-tanggal .media-detail{
    display: flex;
    align-items: flex-start;
}

.harga{
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    width: 100%;
}
.hargas{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.btn-pilih{
    color: #fff;
    background: var(--primary-bg);
    padding: 10px 25px;
    border-radius: 100px;
    text-decoration: none;
}
.harganya{
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 14px;
/* identical to box height */


color: #BDBDBD;
}
.duit{
    font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
/* identical to box height */


color: #929292;
}


/* jumlah tiket */
.main-detail .details{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.main-detail .details i{
    margin-top: 15px;
    font-size: 25px;
    color: #BDBDBD;
}

.text-box{
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    background: #FFFFFF;
    width: 90%;
    margin: 10px auto;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #E9E9E9;
}

.minus{
    background: var(--primary-bg);
    padding: 5px;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
}
.plus{
    background: var(--primary-bg);
    padding: 5px;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
}

/* data diri */
.databefore{
    width: 90%;
    margin: 80px auto 0;
}
.box-datadiri{
    display: flex;
    background: #ffffff;
    width: 100%;
    height: 100%;
    flex-direction: column;
}
.isian{
    width: 90%;
    margin: 0 auto ;
    overflow: scroll;
}

.datadiri{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    margin: 10px 10px;
    border: 1px solid #E9E9E9;
    width: 100%;
}
.datadiri .nama{
    font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
/* identical to box height */


color: #666666;
}

.datadiri .email{
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;

    color: #BDBDBD;
}
.tersimpan{
    display: flex;
    
    width: 750px;
}
/* pembayaran */
.box-pembayaran{
    display: flex;
    background: var(--third-bg);
    width: 100%;
    height: 100%;
    flex-direction: column;
}

.pembayaran{
    width: 90%;
    margin: 80px auto 0;
    padding: 0 0 20px 0;
}
.pembayarandua{
    margin: 30px auto;
    width: 90%;
}
.metode i{
    font-size: 18px;
    color: #BDBDBD;
}
.metode{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top:20px;
    margin-bottom: 20px;
}
.metode .kiri{
    text-align: center;
    align-items: center;
    display: flex;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #BDBDBD;
}
.metode .kiri .logobox{
    margin-right: 20px;
}

.box-data{
    display: flex;
    background: #ffffff;
    width: 100%;
    height: 100%;
    flex-direction: column;
    margin: 0 auto;
}
.box-data .form{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.form .up{
    display: flex;
}

.form .up input{
    padding: 10px;
    width: 100%;
    background: #F5F5F5;
    border: 1px solid #E9E9E9;
    border-radius: 8px;
    justify-content: space-between;
    margin-top: 20px;
}
.form .up .depan{
    margin-right: 5px;
}
.form .up .belakang{
    margin-left: 5px;
}

.form .up input::placeholder{
    font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 10px;
line-height: 12px;

color: #BDBDBD;
}
.form .down{
    margin-bottom: 20px;
}
.form .down input{
    padding: 10px;
    width: 100%;
    margin: 10px 0;
    background: #F5F5F5;
    border: 1px solid #E9E9E9;
    border-radius: 8px;
}
.form .down input::placeholder{
    font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 10px;
line-height: 12px;

color: #BDBDBD;
}

/* bayar page */
.box-bayaran{
    display: flex;
    background: #ffffff;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

.bayar-title{
    font-family: Inter;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;

color: #666666;
margin-bottom: 10px;
}

.bayar-desc{
    font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 150%;
/* or 21px */


color: #929292;
margin-bottom: 10px;

}
.timer{
    width: 100%;
    background: #f5f5f5;
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    font-family: Inter;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 22px;
/* identical to box height */


color: #666666;
}

.informasi{
    width: 90%;
    margin: 20px auto;
    display: flex;
}
.informasi .icon{
    margin-right: 10px;
}
.nomor .title{
    font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
margin-bottom: 10px;
/* identical to box height */


color: #929292;
}

.nomor .nomorva{
    font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
/* identical to box height */


color: #666666;
}


.panduan-bayar{
    width: 90%;
    margin: 0 auto;
    padding: 20px 20px;
}
.panduan-bayar .title{
    font-family: Inter;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;

color: #666666;
}
.main-panduans{
    margin-left: 5px;
}
.main-panduan{
    margin-left: 6px;
}
.panduan-bayar nav ol li{
    margin-top: 5px;
    font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 150%;
/* or 21px */


color: #929292;
text-align: left;
}





/* LOGGED IN */


.live{    
    position: relative;
    bottom: 40px;
    left: 210px;
}
.box-login{
    display: flex;
    background: var(--third-bg);
    width: 100%;
    height: 1250px;
    flex-direction: column;
}


/* stream page */
.box-streaming{
    display: flex;
    background: #ffffff;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

.box-stream{
    display: flex;
    background: #fff;
    width: 100%;
    height: 100%;
    flex-direction: column;
}
.main-stream{
    width: 90%;
    margin: 80px auto;
}
.komentar-netizen{
    width: 90%;
    margin: 0 auto;
    
}
.futer{
    width: 100%;
    background: #ffffff;
}
.komentar input{
    display: block;
    margin: 20px auto;
    width: 100%;
    height: 48px;
    border: none;
    background: #ffffff;
    border-radius: 8px;
    padding: 0 85px 0 20px;
    border: 1px solid #E9E9E9;
}
.komentar input::placeholder{
    font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
/* identical to box height */


color: #BDBDBD;
}
.komentar-netizen .komen{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.box-grey-komen{
    width: 100%;
    background: #f5f5f5;
    height: 380px;
    overflow: scroll;
}

.komentar{
    width: 90%;
    margin: 20px auto;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
.komentar .komennya{
    padding: 10px;
    background: #FFFFFF;
    border-radius: 8px;
}
.komentar .giveaway{
    padding: 10px 70px 10px 10px;
    background: #502D84;
border-radius: 8px;
color: #ffffff;
}
.komentar .giveaway .nama{
    font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 15px;
/* identical to box height */

margin-bottom: 10px;
color: rgba(255, 255, 255, 0.56);
}
.komentar .img{
    margin: 0 10px 0 0;
}
.komentar .komennya .nama{
    font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 15px;
/* identical to box height */
color: #929292;
margin-bottom: 5px;
}

.komentar .komennya .komentarnya{
    
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    color: #666666;
}


/* stream setting */



/* popup */
.backdrop-popup{
    background: rgba(48, 48, 48, 0.56);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    z-index: -4;
    transition: opacity .5s ease;
}
.backdrop-popup.active{
    z-index: 4;
    opacity: 1;
}

.popup{
    background: #ffffff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    z-index: -5;
    border-radius: 8px;
    opacity: 0;
    transition: opacity 0.5s ease;
    display: none;
}
.popup.active{
    display: block;
    z-index: 5;
    opacity: 1;
}
.popup p{
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #666666;
    margin-bottom: 10px;
}
.popup select{
    border-radius: 8px;
    padding: 15px 120px 15px 10px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #666666;
    background: #fff;
}

.box-detail{
    display: flex;
    background: #ffffff;
    width: 100%;
    height: 1100px !important;
    flex-direction: column;
}

.box-jumlah{
    display: flex;
    background: #ffffff;
    width: 100%;
    height: 800px;
    flex-direction: column;
}

@media only screen and (max-width: 360px){
    .container{
        width: 100%;
        margin: 0 auto;
    }
    .box{
        height: 1250px;
    }
    .box-login{
        height: 400px;
    }
    /* swiper js */
    .carousel{
        margin: 100px 0 0;
    }
    .swiper-container {
        width: 90%;
        height: 200px;
        border-radius: 8px;
    }

    .swiper-slide {
        text-align: center;
        font-size: 16px;
        background: #fff;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }
    .kategori{
        padding: 70px 0 0;
    }

    /* detail tiket */
    .hero img{
        width: 100%;
    }
    
    .box-login{
        display: flex;
        background: var(--third-bg);
        width: 100%;
        height: 580px !important;
        flex-direction: column;
    }
    .box-detail{
        display: flex;
        background: #ffffff;
        width: 100%;
        height: 700px;
        flex-direction: column;
    }


    /* stream */
    .box-streaming{
        height: 100%;
    }
    .box-grey-komen{
        width: 100%;
        background: #f5f5f5;
        height: 200px;
        margin-bottom: 100px;
        overflow: scroll;
    }
    .komentar input{
        display: block;
        margin: 10px auto;
        width: 100%;
        height: 48px;
        border: none;
        background: #ffffff;
        border-radius: 8px;
        padding: 0 45px 0 20px;
        border: 1px solid #E9E9E9;
    }
    .back-btn{
        font-size: 27px;
        color: #bdbdbd;
        background: #fff;
        padding: 5px 10px;
        border-radius: 100px;
        position: absolute;
        top: 15px;
        left: 15px;
    }
    .backdrop{
        width: 100%;
        height: 100%;
        background: black;
        position: absolute;
        opacity: 0.3;
    }

    .box-grey-komen{
        width: 100%;
        background: #f5f5f5;
        height: 250px;
        overflow: scroll;
    }
}

@media only screen and (min-width:365px) and (max-width: 480px){
    .container{
        width: 100%;
        margin: 0 auto;
    }
    .box{
        height: 1250px;
    }
    .box-login{
        height: 400px;
    }
    /* swiper js */
    .carousel{
        margin: 100px 0 0;
    }
    .swiper-container {
        width: 90%;
        height: 200px;
        border-radius: 8px;
    }

    .swiper-slide {
        text-align: center;
        font-size: 16px;
        background: #fff;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }
    .kategori{
        padding: 70px 0 0;
    }

    /* detail tiket */
    .hero img{
        width: 100%;
    }
    
    .box-login{
        display: flex;
        background: var(--third-bg);
        width: 100%;
        height: 580px !important;
        flex-direction: column;
    }
    .box-detail{
        display: flex;
        background: #ffffff;
        width: 100%;
        height: 700px;
        flex-direction: column;
    }


    /* stream */
    .box-streaming{
        height: 100%;
    }
    .box-grey-komen{
        width: 100%;
        background: #f5f5f5;
        height: 250px;
        margin-bottom: 100px;
        overflow: scroll;
    }
    .komentar input{
        display: block;
        margin: 10px auto;
        width: 100%;
        height: 48px;
        border: none;
        background: #ffffff;
        border-radius: 8px;
        padding: 0 45px 0 20px;
        border: 1px solid #E9E9E9;
    }
    .back-btn{
        font-size: 25px;
        color: #bdbdbd;
        background: #fff;
        padding: 5px;
        border-radius: 100px;
        position: absolute;
        top: 15px;
        left: 15px;
    }
    .backdrop{
        width: 100%;
        height: 100%;
        background: black;
        position: absolute;
        opacity: 0.3;
    }
    .box-grey-komen{
        width: 100%;
        background: #f5f5f5;
        height: 350px;
        overflow: scroll;
    }
}